{
  "openapi": "3.1.0",
  "info": {
    "title": "cryptpass",
    "description": "CryptPass API.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.0.17"
  },
  "servers": [
    {
      "url": "https://cryptpass.blr-home.arpanrec.com:8088",
      "description": "Production server"
    },
    {
      "url": "http://127.0.0.1:8088",
      "description": "Local server"
    },
    {
      "url": "https://10.8.33.192:8088",
      "description": "Local VPN server"
    }
  ],
  "paths": {
    "/api/v1/admin/unlock": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "unlock",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnlockRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Application unlocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalEncryptionKeySettings"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/admin/user/{username}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "operationId": "get_user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "Username of the user to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "operationId": "create_update_user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "Username of the user to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "User to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/v1/keyvalue/data/{key}": {
      "get": {
        "tags": [
          "Key-Value"
        ],
        "operationId": "get_data",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Key to read",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Value found",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Key-Value"
        ],
        "operationId": "update_data",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Key to write",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "User to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Value written"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Key-Value"
        ],
        "operationId": "delete_data",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Key to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Value deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/v1/keyvalue/details/{key}": {
      "get": {
        "tags": [
          "Key-Value"
        ],
        "operationId": "details",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Key to read",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key MetaData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyValueModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/v1/keyvalue/list": {
      "get": {
        "tags": [
          "Key-Value"
        ],
        "operationId": "list_all_keys",
        "responses": {
          "200": {
            "description": "List of keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/v1/keyvalue/list/{key}": {
      "get": {
        "tags": [
          "Key-Value"
        ],
        "operationId": "list_selective_keys",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Key to read",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/v1/login": {
      "post": {
        "tags": [
          "Login"
        ],
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create login token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "handle_health",
        "responses": {
          "200": {
            "description": "Health Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtoipaCryptPassError"
                }
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "InternalEncryptionKeySettings": {
        "type": "object",
        "required": [
          "encrypted_key",
          "hash",
          "encryptor_hash"
        ],
        "properties": {
          "encrypted_key": {
            "type": "string"
          },
          "encryptor_hash": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          }
        }
      },
      "KeyValueModel": {
        "type": "object",
        "required": [
          "key",
          "encrypted_value",
          "version",
          "deleted",
          "last_updated_at"
        ],
        "properties": {
          "deleted": {
            "type": "boolean"
          },
          "encrypted_value": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "last_updated_at": {
            "type": "integer",
            "format": "int64"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "LoginRequestBody": {
        "type": "object",
        "properties": {
          "password": {
            "type": [
              "string",
              "null"
            ]
          },
          "username": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "LoginResponseBody": {
        "type": "object",
        "properties": {
          "token": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "UnlockRequestBody": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "UserModel": {
        "type": "object",
        "required": [
          "username",
          "password_last_changed",
          "roles",
          "last_login",
          "locked",
          "enabled"
        ],
        "properties": {
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "last_login": {
            "type": "integer",
            "format": "int64"
          },
          "locked": {
            "type": "boolean"
          },
          "password_last_changed": {
            "type": "integer",
            "format": "int64"
          },
          "roles": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "UtoipaCryptPassError": {
        "type": "object",
        "required": [
          "error",
          "correlation_id"
        ],
        "properties": {
          "correlation_id": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CRYPTPASS-KEY"
      }
    }
  },
  "tags": [
    {
      "name": "Health",
      "description": "Health related endpoints."
    },
    {
      "name": "Login",
      "description": "Login related endpoints."
    },
    {
      "name": "Admin",
      "description": "Admin related endpoints."
    },
    {
      "name": "Key-Value",
      "description": "Key-Value related endpoints."
    }
  ]
}